<section role="region" aria-labelledby="spacings-heading" class="sb-region">
  <div class="sb-header">
    <h2 id="spacings-heading" class="sb-header__title">Spacings</h2>
    <p class="sb-header__subtitle">See all spacing variables and their CSS variable names.</p>
  </div>

  <div class="sb-content">
    <table class="sb-table">
      <thead>
        <tr>
          <th scope="col">Size</th>
          <th scope="col">CSS Variable</th>
          <th scope="col">Value</th>
          <th scope="col">Preview</th>
        </tr>
      </thead>
      <tbody>
      {% for spacing in spacings %}
        <tr role="button" class="js-copy-trigger" title="Click to copy" data-usage="{{ spacing.usage }}">
          <th>{{ spacing.label }}</th>
          <td><code>--s-{{ spacing.name|replace({'.':'-'}) }}</code></td>
          <td><code>{{ spacing.value }}</code></td>
          <td>
            <span style="display:inline-block; width:{{ spacing.value }}; height:1em; background: #003a63;" aria-hidden="true"></span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
